body {
    height: 1000px;
    background-color: blue;


}

h1 {
    color: grey;
}

.container {
    background-color: yellow;
    border: solid 2px red;

    margin-right: 30px;
}

.container-2 {
    background-color: coral;

}

img {
    height: 100px;
    width: 250px;
}